.productColor,
.rangoEdad,
.atributoColor {
  font-size: 0.875rem;
  font-weight: 400;
  color: #000000;
  font-family: "NeuePlak-Regular";
  margin-bottom: 1rem;
}

:global(.vtex-product-summary-2-x-containerNormal) .atributoColor {
  /* numero de lineas que mostrar */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

:global(.vtex-flex-layout-0-x-flexRow--desktop-row-product-pdp)
  :global(.vtex-flex-layout-0-x-flexColChild--desktop-col-two)
  .atributoColor {
  font-size: 0.875rem;
}
/**-----Product summary - Wishlist-----**/
:global(.vtex-flex-layout-0-x-flexRow--pr_summary_info) .atributoColor {
  text-align: left !important;
  margin-bottom: 8px;
}

@media (max-width: 40rem) {
  :global(.vtex-slider-layout-0-x-sliderTrackContainer--shelf-products)
    :global(.vtex-store-components-3-x-priceContainer) {
    margin-top: 0px;
  }
}
@media all and (width: 768px) and (height: 1024px) and (orientation: portrait) {
  .productColor {
    margin-top: 1rem;
  }
}
@media all and (width: 820px) and (height: 1180px) and (orientation: portrait) {
  .productColor {
    margin-top: 1rem;
  }
}