.paginationDot {
    background: #000;
    height: 1px !important;
    width: 18px !important;
    border: 0;
    border-radius: 0;
    transform: none !important;
    padding: 0;
}

.paginationDot--isActive {
    background: #000;
    height: 4px !important;
    width: 18px !important;
}

